<% provide(:title, "Home") %>

<div class="jumbotron text-center">
  <h1>Car Share</h1>

  <h2>
    This is the home page for Car Sharing!
  </h2>

  <%= link_to "Sign up to start!", '#', class: "btn btn-lg btn-primary" %>
</div>

