<% provide(:title, 'MoCar') %>

<div class="jumbotron text-center">
  <h1>Welcome to use MoCar!</h1>
<h3>Your location is currently shown on the map,
choose the cloest part to get start.
</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <%= link_to "Find a car at the nearest location.", '#', class: "btn btn-info" %>
</div>