<% provide(:title, "Edit Profile") %>
<% provide(:button_text, 'Update Profile') %>
<div class="text-center">
  <h1>Update your profile</h1><br><br>
  
  <div class = "row"><div class = "col-sm-4"></div>
  <div class = "col-sm-4">
      <%= render 'form' %>
  </div>
  </div>

</div>
<br><br>