<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Rigister') %>
<div class="text-center">
  <h1>Create your Account</h1><br><br>
  
  <div class = "row"><div class = "col-sm-4"></div>
  <div class = "col-sm-4">
      <%= render 'form' %>
      
  </div>
  </div>

</div>
<br><br>