<% provide(:title, "New Vehicle") %>
<% provide(:button_text, 'Create a new vehicle') %>
<div class="text-center">
<h1>Create a new vehicle</h1>
  <div class = "row"><div class = "col-sm-3"></div>
  <div class = "col-sm-6">
<%= render 'form', vehicle: @vehicle %>
  </div>
  </div>

</div>