@import "bootstrap";
#logo{
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: 12px;
}

.navbar-right{
  float: right;
  margin-left: auto;
  font-size: 18px;
}

<<<<<<< HEAD
form {
  height: 350px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  float: left;
  clear: both;
  margin-left: 30%;
  margin-top: 20px;
}

.form-control {
  float: left;
  clear: both;
  display: block;
  width: 40%;
  margin-left: 30%;
}

.btn-success {
  float: left;
  clear: both;
  margin-left: 46%;
  margin-top: 20px;
}
=======
#map {
  height: 400px;
  width: 100%;
}
>>>>>>> 047a5c3263e8e9c1b0756bf59329935e23dd59e1
