@import "bootstrap";
#logo{
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 12px;
}

.navbar-right{
  float: right;
  margin-left: auto;
  font-size: 18px;
}

label {
    float: left;
    font-weight: bold!important;
}

#map {
  height: 100%;
  border-radius: 12px;
}



